@use "abstracts" as vars;

// Header

.site-header {
    width: 100%;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: vars.$spacing-md vars.$spacing-lg;
}

.site-logo {
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: vars.$spacing-md;
}

// Main

.home-container {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;

}

// Footer

.site-footer {
    padding: vars.$spacing-lg;
    text-align: center;
}

// Z-index

header,
footer {
    position: relative;
    z-index: 101;
}