{% extends "base.html" %}

{% block title %}
    Characters | Character Compendium
{% endblock %}

{% block content %}


<main class="home-container">
    <div class="character-compendium">
    <section class="compendium-header">
        <h1>PHI'S SODA COMPENDIUM</h1>
        <p>
            A collection of my SODA character sheets
        </p>
    </section>
    <section class="character-collection">
        <header class="collection-header">
            <h2>CHARACTERS</h2>
        </header>
        <div class="character-grid">

            <!-- Character Card -->

            <article class="character-card rosa-theme">
                <a href="{{ url_for('rosa_sheet') }}">
                    <div class="character-portrait">
                        <span>PORTRAIT</span>
                    </div>
                    <div class="character-info">
                        <h3>ROSA</h3>
                        <p>
                            Ambitious Artist
                        </p>
                    </div>
                </a>
                <div class="character-theme">
                    <button
                        type="button"
                        id="rosa-theme-toggle"
                        class="theme-toggle">
                        Rosa's Theme
                    </button>
                </div>
            </article>

            <!-- Character Card -->

            <article class="character-card pyuku-theme">
                <a href="{{ url_for('pyuku_sheet') }}">
                    <div class="character-portrait">
                        <span>PORTRAIT</span>
                    </div>
                    <div class="character-info">
                        <h3>PYUKU</h3>
                        <p>
                            Determined Artist
                        </p>
                    </div>
                </a>
                <div class="character-theme">
                    <button
                        type="button"
                        id="pyuku-theme-toggle"
                        class="theme-toggle">
                        Pyuku's Theme
                    </button>
                </div>
            </article>

            <!-- Character Card -->

            <article class="character-card terra-theme">
                <a href="#">
                    <div class="character-portrait">
                        <span>PORTRAIT</span>
                    </div>
                    <div class="character-info">
                        <h3>TERRA</h3>
                        <p>
                            ???
                        </p>
                    </div>
                </a>
                <div class="character-theme">
                    <button
                        type="button"
                        id="terra-theme-toggle"
                        class="theme-toggle">
                        Terra's Theme
                    </button>
                </div>
            </article>
        </div>
    </section>
</div>
</main>

{% endblock %}